
*,
*::before,
*::after {
    box-sizing: border-box;
}


ul[class],
ol[class] {
    padding: 0;
}


body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


body {
    font-family: 'Manrope', sans-serif;
}
.container {
    margin: 1%;
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    background-color: #f0f4fc;
    border-radius: 2% 0 0 2%;
}

.modal {
    display: none;
    position: fixed;
    padding: 20px;
    width: 500px;
    background-color: #f0f4fc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.modal-overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        font-size: 26px;
        margin: 20px 0;
        align-self: flex-start;
    }


}
.text-field {
    margin: 5px 0;
    display: block;
    width: 450px;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #d7e2f6;
    background-clip: padding-box;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.text-field::placeholder {
    color: #1f4284;
    font-size: 16px;
}

.label {
    margin: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding-left: 26px;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-self: flex-start;
}

.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 5px;
}

.label:hover input ~ .checkmark {
    background-color: #ccc;
}

.label input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.label input:checked ~ .checkmark:after {
    display: block;
}

.label .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    img {
        width: 36px;
        height: 36px;
    }
}
.recovery {
    margin: 10px 0;
    align-self: flex-start;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    color:  #244c98;
    font-size: 20px;
}
.login-btn {
    cursor: pointer;
    margin: 5px 0;
    width: 450px;
    background-color: #244c98;
    color: white;
    padding: 15px 32px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.25rem;
}
.signup-btn {
    cursor: pointer;
    margin: 5px 0;
    width: 450px;
    background-color: transparent;
    border: 2px solid #244c98;
    color: #244c98;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 0.25rem;
}
.form {
    display: flex;
    flex-direction: column;
}

img {
    width: 50%;
    border-radius: 0 2% 2% 0;
}

.title {
    color:  #1F4284;
}

.description {
    width: 90%;
    font-size: 14px;
}

.demo-btn {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 250px;
    font-size: 16px;
    padding: 20px;
    color: white;
    background-color: #244c98;
    border: none;
    outline: none;
    border-radius: 40px;
    position: relative;
}
.title, .description, .demo-btn {
    margin: 20px 20px 0 20px;
}
.demo-btn-icon{
    position: absolute;
    height: 36px;
    width: 36px;
    background-image: url(./public/icon.png);
    background-size: 36px 36px;
    background-repeat: no-repeat;
    left: 82%;
    top: 20%;
}



@media (max-width: 1440px) {
    img, .main {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .container {
        display: block;
    }
    img, .main {
        min-width: 75%;
    }
    .title, .description, .demo-btn {
        margin: 10px 10px 0 10px;
    }
}

@media (max-width: 375px) {
    .container {
        display: block;
    }
    img, .main {
        width: 280px;
    }
}